* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background: linear-gradient(130deg, rgb(32, 32, 32) 0%, rgb(48, 48, 48) 25%, rgb(57, 57, 57) 50%, rgb(52, 52, 52) 75%, rgb(32, 32, 32) 100%);
  overflow-x: hidden;
  width: 100%;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1600px;
  }
}
.section-header {
  font-size: 24px;
  font-weight: 500;
  color: #707070;
  line-height: 1;
  letter-spacing: 0.01em;
  border-bottom: solid 1px #ffdf6c;
  padding-bottom: 10px;
  margin-bottom: 35px;
  margin-top: 115px;
  padding-left: 5px;
}

html {
  scroll-behavior: smooth;
}

.mobile-menu__link {
  text-decoration: none;
  color: #202020;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1;
}

.mobile-menu__link:hover {
  font-weight: 600;
  transition: font-weight 0.3s ease;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
}

.mobile-nav__toggle {
  display: block;
  position: absolute;
  top: 33px;
  right: 10px;
  height: 100vh;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.mobile-nav__toggle--input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.mobile-nav__toggle--strap:not(:last-child) {
  margin-bottom: 5px;
}

.mobile-nav__toggle--strap {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  background-color: #ffdf6c;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.mobile-nav__toggle--strap:first-child {
  transform-origin: 0% 0%;
}

.mobile-nav__toggle--strap:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.mobile-nav__toggle--input:checked ~ .mobile-nav__toggle--strap {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: white;
}

.mobile-nav__toggle--input:checked ~ .mobile-nav__toggle--strap:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.mobile-nav__toggle--input:checked ~ .mobile-nav__toggle--strap:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

.mobile-nav__toggle--menu {
  position: absolute;
  width: 300px;
  height: 100%;
  margin: -60px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -10px;
  background-color: #ffdf6c;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.mobile-nav__toggle--menu li {
  padding: 10px 0;
}

.mobile-nav__toggle--input:checked ~ .mobile-nav__toggle--menu {
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .mobile-nav {
    display: none;
  }
}
.logo {
  background-color: #ffdf6c;
  border-radius: 50%;
  border: none;
  margin-top: 15px;
  width: 60px;
  height: 60px;
}
.logo:hover {
  border: none;
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.mobile-header {
  position: fixed;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  z-index: 2;
}

.about-me {
  padding-top: 25px;
}
.about-me__box {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 25px;
}
.about-me__box--photo {
  border-radius: 50%;
  width: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-me__list--item--text {
  color: white;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 2.25;
}

.my-name {
  font-size: 32px;
  font-weight: 400;
  color: #707070;
  letter-spacing: 0.01em;
  line-height: 1;
}

.my-spec {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #ffdf6c;
  padding-top: 20px;
  padding-bottom: 5px;
}

.my-skills__list {
  display: flex;
  flex-direction: column;
}

.sub-category__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #ffdf6c;
  padding-bottom: 20px;
}
.sub-category__list {
  padding-bottom: 20px;
}
.sub-category__list--item {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 1;
  font-weight: 300;
  color: white;
  display: flex;
}
.sub-category__list--item:not(:last-child) {
  padding-bottom: 15px;
}

.date {
  font-weight: 600;
  border-bottom: 1px solid #707070;
  padding-bottom: 3px;
  margin-right: 10px;
}

.tech-icon {
  width: 20px;
  height: 20px;
}
.tech-icon__text {
  align-self: center;
  padding-left: 10px;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__list--item {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid;
}
.portfolio__list--item:not(:last-child) {
  margin-bottom: 45px;
}
.portfolio__image {
  place-self: center;
  padding-bottom: 25px;
  max-width: 320px;
  border-radius: 5px 5px 0 0;
}
.portfolio__image--desc-btn {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid;
  background: transparent;
  align-self: center;
  margin-bottom: 10px;
}

.contact-section {
  color: #707070;
  border-bottom: 1px solid #ffdf6c;
}

.contact-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
.contact-list__item {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 15px;
  position: relative;
}
.contact-list__item:not(:first-child) {
  margin-top: 10px;
}
.contact-list__item--link {
  color: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-list__item--link:hover {
  color: #ffdf6c;
  transition: color 0.3s ease;
  fill: #ffdf6c;
}
.contact-list__item--link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 5px;
  left: 0;
  background-color: #ffdf6c;
  transform-origin: bottom right;
  transition: transform 0.45s ease-out;
}
.contact-list__item--link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #707070;
}

.contact-icon:hover .contact-list__item--link {
  color: #ffdf6c;
  transition: color 0.3s ease;
  fill: #ffdf6c;
}

.contact-list__item--link:hover .contact-icon {
  color: #ffdf6c;
  transition: fill 0.3s ease;
  fill: #ffdf6c;
}/*# sourceMappingURL=main.css.map */