@import "./utils/vars";
@import "./components/general-patterns";
@import "./components/_mobile-navigation";
@import "./components/_about-me";
@import "./components/_my-skills";
@import "./components/_portfolio";
@import "./components/_contact";
