.mobile-menu__link {
  text-decoration: none;
  color: getColor(color-yellow);
  transition: color 0.3s ease;
}

.mobile-menu__link:hover {
  color: getColor(color-green);
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
}
.mobile-nav__toggle {
  display: block;
  position: absolute;
  top: 33px;
  right: 10px;
  height: 100vh;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

.mobile-nav__toggle--input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}
.mobile-nav__toggle--strap:not(:last-child) {
  margin-bottom: 5px;
}
.mobile-nav__toggle--strap {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;

  background: getColor(color-yellow);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.mobile-nav__toggle--strap:first-child {
  transform-origin: 0% 0%;
}

.mobile-nav__toggle--strap:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.mobile-nav__toggle--input:checked ~ .mobile-nav__toggle--strap {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: getColor(color-yellow);
}

.mobile-nav__toggle--input:checked
  ~ .mobile-nav__toggle--strap:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.mobile-nav__toggle--input:checked
  ~ .mobile-nav__toggle--strap:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

.mobile-nav__toggle--menu {
  position: absolute;
  width: 300px;
  height: 100%;
  margin: -60px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -10px;
  border-left: solid 2px getColor(color-green);
  background: radial-gradient(
    circle,
    rgba(27, 160, 152, 1) 0%,
    rgba(5, 22, 34, 1) 100%
  );
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.mobile-nav__toggle--menu li {
  padding: 10px 0;
  font-size: 22px;
}

.mobile-nav__toggle--input:checked ~ .mobile-nav__toggle--menu {
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .mobile-nav {
    display: none;
  }
}
.logo {
  background-color: getColor(color-green);
  border-radius: 50%;
  border: none;
  margin-top: 15px;
  width: 60px;
  height: 60px;
}

.mobile-header {
  position: fixed;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: solid 2px getColor(color-yellow);
  width: 100%;
  z-index: 2;
  background-color: getColor(color-dark-green);
}
