.nav-list {
  display: flex;
}
.nav {
  display: none;
}
.logo {
  &__text {
    font-family: Italianno, sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: calc(56 / 42);
    letter-spacing: 0.06em;
    padding-top: 10px;
    color: white;
  }
  &__description {
    font-family: Caveat, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: calc(46 / 36);
    letter-spacing: 0.03em;
    &--last {
      color: tomato;
    }
  }
}
.page-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  &__menu-toggle {
    padding-top: 15px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    fill: getColor(text-color-light);
    &:hover {
      fill: tomato;
    }
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  padding: 35px 15px;
  background-color: white;
  transform: translateX(100vw);
  transition: transform 250ms ease-in-out;
  &__close-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    &--icon {
      fill: black;
      &:hover {
        fill: tomato;
      }
    }
  }
}
.menu-container.is-open {
  transform: translateX(20vw);
}
.mobile-menu-list {
  margin-top: 35px;
  &__item {
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    &:hover {
      color: tomato;
      border-color: tomato;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &--link {
      padding-left: 5px;
      padding-bottom: 2px;
      font-family: DM sans, sans-serif;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.03em;
      line-height: calc(28 / 20);
    }
  }
}
