.about-me {
  padding-top: 25px;
  &__box {
    padding-bottom: 25px;
    padding-top: 80px;
    text-align: center;
    &--photo {
      border-radius: 50%;
      width: 250px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__list {
    &--item {
      &--text {
        color: getColor(text-color-light);
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.01em;
        line-height: calc(36 / 16);
      }
    }
  }
}
.my-name {
  font-size: 32px;
  font-weight: 400;
  color: getColor(color-light-grey);
  letter-spacing: 0.01em;
  line-height: 1;
}
.my-spec {
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: getColor(color-light-yellow);
  
}

@media screen and (min-width: 1024px) {
  .my-name {
    font-size: 42px;
    font-weight: 500;
  }
  .my-spec {
    font-weight: 600;
    font-size: 48px;
  }
  .about-me {
    &__box {
      &--photo {
        width: 350px;
      }
    }
    &__list {
      &--item {
        &--text {
          font-weight: 300;
          font-size: 18px;
          line-height: 2;
        }
      }
    }
  }
}
