.contact-section {
  color: getColor(color-light-grey);
  border-bottom: 1px solid getColor(color-light-yellow);
}
.contact-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  &__item {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    padding-bottom: 15px;
    position: relative;
    &:not(:first-child) {
      margin-top: 10px;
    }

    &--link {
      color: getColor(color-light-grey);
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: getColor(color-light-yellow);
        transition: color 0.3s ease;
        fill: getColor(color-light-yellow);
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 5px;
        left: 0;
        background-color: getColor(color-light-yellow);
        transform-origin: bottom right;
        transition: transform 0.45s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
.contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: getColor(color-light-grey);
}
.contact-icon:hover .contact-list__item--link {
  color: getColor(color-light-yellow);
  transition: color 0.3s ease;
  fill: getColor(color-light-yellow);
}
.contact-list__item--link:hover .contact-icon {
  color: getColor(color-light-yellow);
  transition: fill 0.3s ease;
  fill: getColor(color-light-yellow);
}

@media screen and (min-width: 1024px) {
  .contact-list {
    &__item {
      font-size: 20px;
    }
  }
}
