* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: getFF(main-font), getFF(sans-serif);
}

body {
  // background: getColor(color-dark-green);
  // background-color: getColor(primary-dark-color);
  background: linear-gradient(
    130deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(48, 48, 48, 1) 25%,
    rgba(57, 57, 57, 1) 50%,
    rgba(52, 52, 52, 1) 75%,
    rgba(32, 32, 32, 1) 100%
  );
  overflow-x: hidden;
  
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.section-header {
  font-size: 24px;
  font-weight: 500;
  color: getColor(color-light-grey);
  line-height: 1;
  letter-spacing: 0.01em;
  border-bottom: solid 1px getColor(color-light-yellow);
  padding-bottom: 10px;
  margin-bottom: 35px;
  margin-top: 115px;
  padding-left: 5px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }
  .section-header {
    font-size: 32px;
  }
}

html {
  scroll-behavior: smooth;
}
