* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background: #232323;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
