* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: getFF(main-font), getFF(sans-serif);
}

body {
  background: getColor(color-dark-green);
  overflow-x: hidden;
  width: 100%;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1600px;
  }
}
.section-header {
  font-size: 24px;
  font-weight: 500;
  color: getColor(color-green);
  line-height: 1;
  letter-spacing: 0.01em;
  border-bottom: solid 1px getColor(color-green);
  padding-bottom: 10px;
  margin-bottom: 35px;
  margin-top: 115px;
  padding-left: 5px;
}
html {
  scroll-behavior: smooth;
}
