.my-skills {
  &__list {
    display: flex;
    flex-direction: column;
  }
}
.sub-category {
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.01em;
    color: getColor(color-light-yellow);
    padding-bottom: 20px;
  }
  &__list {
    padding-bottom: 20px;
    &--item {
      font-size: 16px;
      letter-spacing: 0.01em;
      line-height: 1;
      font-weight: 300;
      color: getColor(text-color-light);
      display: flex;
      gap: 10px;
      &:not(:last-child) {
        padding-bottom: 15px;
      }
    }
  }
}
.date {
  font-weight: 600;
  padding-bottom: 3px;
  min-width: 85px;
}
.tech-icon {
  width: 20px;
  height: 20px;
  &__text {
    align-self: center;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .tech-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .sub-category {
    &__title {
      font-size: 28px;
      font-weight: 400;
    }
    &__list {
      &--item {
        font-size: 20px;
      }
    }
  }
}
