:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1140px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.sl-overlay {
  background: rgb(63, 63, 63) !important;
}
.sl {
  font-family: getFF(main-font), getFF(sans-serif) !important;
  letter-spacing: 0.01em !important;
  font-size: 16px !important;
  font-weight: 300 !important;
}

.portfolio-link-box {
  &__header {
    padding-top: 50px;
    color: getColor(color-light-grey);
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.portfolio-list {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--name {
      font-size: 20px;
      letter-spacing: 0.01em;
      line-height: 1;
      font-weight: 300;
      color: getColor(color-light-yellow);
      padding-top: 15px;
    }
    &--link {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.01em;
      line-height: 1;
      color: getColor(text-color-light);
      text-decoration: none;
      padding-top: 10px;
      &:hover {
        font-weight: 500;
        transition: font-weight 0.3s ease;
      }
    }
  }
}
