// $color: (
//   "color-yellow": #deb992,
//   "color-green": #1ba098,
//   "color-dark-green": #051622,
//   "color-light": white,
// );
$color: (
  "primary-dark-color": #202020,
  "secondary-dark-color": #3f3f3f,
  "color-light-grey": #707070,
  "text-color-light": white,
  "color-light-yellow": #ffdf6c,
);
@function getColor($key) {
  @return map-get($color, $key);
}

$fontfamily: (
  "main-font": "Raleway",
  "sans-serif": sans-serif,
);
@function getFF($key) {
  @return map-get($fontfamily, $key);
}
